<%
const static_img = "http://static.brobath.lucasfuriofranco.com.br/img/main/";
%>

<!doctype html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    
    <title>WWW Product</title>
   
    <script>
      window.dataLayer = window.dataLaywe || [];
      window.dataLayer.push({
        event:           "page_data",
        page_type:       "details",
        product_details: <%- JSON.stringify(product_details, null, 2) %>
      })
    </script>
    

    <style>

			.bordered {
				border-style: solid;
				border-radius: 10px;
				border-width: thin;
				padding: 10px;

			}

			#search_form {
				display: inline-block;
			}

			header>div {
				display:flex;
			}

			header>div>span {
				display: inline-flex;
			}

			header>div:not(:first-child) {
				margin-top: 10px;
			}

   </style>

  </head>
  
  
  
  <body>

    <header class="bordered">
		<div class="top flex-container bordered">

        <span class="left bordered">
					<a href="#logo">
						<img src="<%- static_img %>logo.png">
					</a>
        </span>

        <span class="right bordered">
					<a href="#sac" class="bordered">SAC</a>
					<a href="#whishlist" class="bordered">Desejos</a>
					<a href="#user_data" class="bordered">Dados de usuário</a>
        </span>

      </div>

      <div class="bottom bordered">

				<nav>

					<span>
						<a href="/" class="bordered">Home</a>
						<a href="#department" class="bordered">Department</a>
						<a href="#promos" class="bordered">Promo</a>
					</span

					<span>
	          <form action="/search" method="GET" id="search_form" class="bordered">
							<input type="text" name="search_key" placeholder="Busque aqui">
							<input type="submit" alt="Buscar" value="Buscar">
						</form>
						<a href="#bag" class="bordered">Sacola</a>

					</span>

				</nav>

      </div>
    </header>

    <nav></nav>

    <main>
      <% if(product_details.id !== undefined) { %>

        <h1><%- product_details.name %></h1>
        <h2><%- product_details.available ? "Available" : "Unavailable" %></h2>
        <h3>Price: <%- product_details.price %></h3>

      <% } else { %> <!-- Product not found -->

        <h1>Sorry, product not found</h1>
        <h2>A product with this ID was not found on our databases - check for URL malformed</h2>

      <% } %>

    </main>

    <footer></footer>

  </body>
  
</html>
